{% extends 'base.html' %}
{% block body %}
<div id="page" class="page">
    <!-- Breadcrumb ====== leave here -->
    <div id="main">
        <div id="content" class="clearfix container">
            <div class="section">
                <div id="main-content"></div>
                <div class="tabs"></div>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system  block-system-main col-md-12">
                        <div class="topbanner">
                            <div class="navwrapper">
                                <div class="banner-logo">
                                    <img src="/static/common/logo-bulletin-brief.svg" alt="logo">
                                </div>
                                <div class="banner-title">
                                    <p> 公示栏 </p>
                                </div>
                            </div>
                        </div>
                        <div class="bullcontent">
                            <div>
                                <div class="panel-pane pane-views pane-the-bulletin-pages clearfix">
                                    <div class="pane-content">
                                        <div class="view-content">
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_1" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_1/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：长春至双阳公路 建设单位：长春市长双公路建设管理中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_2" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_2/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：三合至莫力达瓦旗公路新化至维新段工程 建设单位：龙井市公路建设服务中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_3" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_3/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：省道齐齐哈尔至大安公路莫莫格至月亮泡段工程 建设单位：镇赉县公路建设办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_4" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_4/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：G331国道丹东至阿勒泰公路三道沟至错草段建设项目 建设单位：白山市高等公路建设管理中心临江市公路建设管理处 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_5" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_5/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：国道嘉萌至临江公路（G222）靖宇至江源段建设项目（江源段） 建设单位：白山市交通投资集团有限公司 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_6" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_6/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：省道安通公路与平齐铁路交叉道口平改立工程 建设单位：白城市公路工程建办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_7" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_7/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：省道扎突公路与平齐铁路交叉道口（洮南市南出口）平改立工程 建设单位：白城市公路工程建设办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_8" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_8/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：省道扎突公路洮南市西出口至军马场段改建工程 建设单位：白城市公路工程建设办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_9" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_9/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：省道石通线七道江至通化（公路与铁路平交道口改造）项目 建设单位：白山市交通投资集团有限公司 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_10" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_10/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：国道集阿公路（G303）辽源红五星互通立交改建项目 建设单位：国道集阿公路（G303）辽源红五星互通立交改建项目办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_11" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20211028_11/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：国道丹阿公路（G331）冷沟子至鸡冠崖子段 建设单位：长白朝鲜族自治县公路工程建设发展服务中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="col-md-4">
                                                <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20220126_1" ) }}>
                                                    <div>
                                                        <div class="picture ">
                                                            <img typeof="foaf:Image " src="/static/bulletin/20220126_1/1.jpg">
                                                        </div>
                                                        <div class="subhead " style="height: 113px; ">
                                                            <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                    style="font-weight:normal "><span style="white-space:normal ">工程名称：三合至莫力达瓦旗公路新化至维新段工程 建设单位：龙井市公路建设服务中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="item-list ">
                                            <ul class="pager ">
                                                <li class="pager-current first ">1</li>
                                                <li class="pager-item "><a title="Go to page 2 " href="/bulletin?bulletin_page=2">2</a></li>
                                                <li class="pager-next "><a title="Go to next page " href="/bulletin?bulletin_page=2">next ›</a></li>
                                                <li class="pager-last last "><a title="Go to last page " href="/bulletin?bulletin_page=2">last »</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}