<html lang="en" class="js">

<head profile="http://www.w3.org/1999/xhtml/vocab">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:pages" content="6169515998">
    <meta name="google-site-verification" content="kToycOOTnVTELNpO7bd9F5Dkz6PePtTSaz-J479_Pto">

    <link rel="apple-touch-icon" sizes="180x180" href="/static/common/kd_icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/common/kd_icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/common/kd_icon.png">
    <link rel="mask-icon" href="https://www.utoronto.ca/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">


    <!--link rel="stylesheet" href="/static/common/all.css"-->

    <link rel="shortcut icon" href="/static/common/kd_icon.png" type="image/x-icon">

    <!--PRINT TITLE OF PAGE: todo -->
    <title>吉林省鲲达工程咨询有限公司</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/static/common/bootstrap.min.css">
    <link rel="stylesheet" href="/static/common/font-awesome.min.css">
    <!-- Animate.css library -->
    <link rel="stylesheet" href="/static/common/animate.min.css">
    <link href="/static/common/css" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/static/common/style1.css" media="all">
    <link type="text/css" rel="stylesheet" href="/static/common/style2.css" media="all">
    <link type="text/css" rel="stylesheet" href="/static/common/style3.css" media="all">
    <link type="text/css" rel="stylesheet" href="/static/common/style4.css" media="all">
</head>

<body class="html not-front not-logged-in no-sidebars page-bulletin" style="" data-new-gr-c-s-check-loaded="14.1033.0" data-gr-ext-installed="">

    <header id="header" class="header">
        <div class="head-announcement section container clearfix">
        </div>

        <div class="section container clearfix">
            <div class="row">
                <div class="site-logo">
                    <h1 href="https://www.utoronto.ca/" title="Go to U of T homepage">
                        吉林省鲲达工程咨询有限公司
                    </h1>
                </div>
                <!-- .site-logo -->
            </div>
            <!-- .row -->
        </div>
        <!-- /.section -->


        <div class="off-canvas-wrapper" style="">
            <div class="utilities">
                <ul id="main-nav" class="main-nav">
                    <li class="menu-447 first"><a href="https://webmail.utoronto.ca/" class="webmail"><span>Webmail</span></a>
                    </li>
                    <li class="menu-448"><a href="https://q.utoronto.ca/" class="portal"><span>Quercus</span></a></li>
                    <li class="menu-449 last"><a href="http://www.acorn.utoronto.ca/" class="acorn"><span>Acorn</span></a></li>
                </ul>
            </div>

            <div class="navigation">
                <nav class="group-1">
                    <ul class="col">
                        <div class="region region-col1-audience">
                            <div id="block-menu-block-15" class="block block-menu-block  block-menu-block-15">
                                <div class="menu-block-wrapper menu-block-15 menu-name-menu-mobile-menu parent-mlid-1412 menu-level-1">
                                    <ul class="menu clearfix">
                                        <li class="first leaf menu-mlid-1413"><a href="https://www.utoronto.ca/future-students">Future
                        Students</a></li>
                                        <li class="leaf menu-mlid-1414"><a href="https://www.utoronto.ca/current-students">Current
                        Students</a></li>
                                        <li class="last leaf menu-mlid-1415"><a href="https://www.utoronto.ca/alumni">Alumni</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                    <ul class="col">
                        <div class="region region-col2-audience">
                            <div id="block-menu-block-16" class="block block-menu-block  block-menu-block-16">
                                <div class="menu-block-wrapper menu-block-16 menu-name-menu-mobile-menu parent-mlid-1419 menu-level-1">
                                    <ul class="menu clearfix">
                                        <li class="first leaf menu-mlid-1416"><a href="https://www.utoronto.ca/faculty-staff">Faculty &amp;
                        Staff</a></li>
                                        <li class="leaf menu-mlid-1580"><a href="https://boundless.utoronto.ca/">Donors</a></li>
                                        <li class="last leaf menu-mlid-1418"><a href="https://www.utoronto.ca/visitors">Visitors</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </nav>

                <nav class="group-2">
                    <ul>
                        <div class="region region-infopages">
                            <div id="block-menu-block-17" class="block block-menu-block  block-menu-block-17">
                                <div class="menu-block-wrapper menu-block-17 menu-name-menu-mobile-menu parent-mlid-1420 menu-level-1">
                                    <ul class="menu clearfix">
                                        <li class="first leaf menu-mlid-1421"><a href="https://www.utoronto.ca/news">News &amp; Media</a>
                                        </li>
                                        <li class="leaf menu-mlid-1422"><a href="https://www.utoronto.ca/about-u-of-t">About U of T</a></li>
                                        <li class="leaf menu-mlid-1706"><a href="https://www.utoronto.ca/donors">Give to U of T</a></li>
                                        <li class="leaf menu-mlid-1423"><a href="https://www.utoronto.ca/academics">Academics</a></li>
                                        <li class="leaf menu-mlid-1424"><a href="https://www.utoronto.ca/research-innovation">Research &amp;
                        Innovation</a></li>
                                        <li class="leaf menu-mlid-1425"><a href="https://www.utoronto.ca/university-life">University
                        Life</a></li>
                                        <li class="leaf menu-mlid-1579"><a href="https://www.utoronto.ca/libraries">Libraries</a></li>
                                        <li class="leaf menu-mlid-1426"><a href="https://www.utoronto.ca/academics/programs-directory">Programs of Study</a></li>
                                        <li class="last leaf menu-mlid-1427"><a href="https://www.utoronto.ca/directory/a-to-z/">A to Z</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>

        <div id="sub-menu-wrapper" class="sub-menu-wrapper">
            <div class="container subMenuCont">
                <div class="region region-sub-menu">
                    <div id="block-menu-block-3" class="block block-menu-block welcome-nav  block-menu-block-3">
                        <div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-445 menu-level-1">
                            <ul class="menu clearfix">
                                <li class="first leaf menu-mlid-451"><a href={{ url_for( 'home') }}>首页</a></li>
                                <li class="leaf menu-mlid-455"><a href={{ url_for( 'bulletin') }}>公司简介</a></li>
                                <li class="leaf menu-mlid-452"><a href={{ url_for( 'bulletin') }}>公示栏</a></li>
                                <li class="leaf menu-mlid-453"><a href={{ url_for( 'bulletin') }}>公司员工</a></li>
                                <li class="leaf menu-mlid-454"><a href={{ url_for( 'bulletin') }}>招贤纳士</a></li>
                                <li class="last leaf menu-mlid-1012"><a href={{ url_for( 'bulletin') }}>联系我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .container -->
        </div>


    </header>
    <!-- /#header -->
    {% block body %} {% endblock %}
    <!-- /#main -->
    <footer>
        <div id="footer-first " class="footer-first clearfix ">
            <section class="container ">
                <div class="region region-footer-first ">
                    <div id="block-menu-menu-footer-audiences " class="block block-menu footer-5cols footer-audiences right block-menu-menu-footer-audiences ">
                        <ul class="menu clearfix ">
                            <li class="first leaf "><a href="/home" tabindex="-1 ">Recruitment</a></li>
                            <li class="last leaf "><a href="/home" tabindex="-1 ">Visitors</a></li>
                        </ul>
                    </div>
                    <div id="block-menu-menu-footer-explore " class="block block-menu footer-5cols footer-explore right block-menu-menu-footer-explore ">
                        <ul class="menu clearfix ">
                            <li class="first leaf "><a href="/home" tabindex="-1 ">News &amp; Media</a></li>
                            <li class="last leaf "><a href="/home" tabindex="-1 ">A-Z Directory</a>
                            </li>
                        </ul>
                    </div>
                    <div id="block-block-46 " class="block block-block footer-logo-desktop block-block-46 ">
                        <p class="footer-uoft-logo ">
                            <a class="footer-logo-link " href="/home " tabindex="-1 " title="Go to homepage "><img class="footer-logo " src="/static/common/kd_icon.png " type="image/svg+xml "></a>
                        </p>
                    </div>
                    <div id="block-menu-menu-footer-etc " class="block block-menu footer-5cols footer-etc left ">
                        <ul class="menu clearfix ">
                            <li class="first leaf "><a href="/home" tabindex="-1 ">Contacts</a></li>
                            <li class="last leaf "><a href="/home" tabindex="-1 ">Site Map</a></li>
                        </ul>
                    </div>
                    <div id="block-menu-menu-footer-campuses " class="block block-menu footer-5cols footer-campuses left block-menu-menu-footer-campuses ">
                        <ul class="menu clearfix ">
                            <li class="first leaf "><a href="/home" tabindex="-1 ">Bulletin</a></li>
                            <li class="last leaf "><a href="/home" tabindex="-1 ">Safety</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>