{% extends 'base.html' %}
{% block body %}
<div id="page" class="page">
    <!-- Breadcrumb ====== leave here -->
    <div id="main">
        <div id="content" class="clearfix container">
            <div class="section">
                <div id="main-content"></div>
                <div class="tabs"></div>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system  block-system-main col-md-12">
                        <div class="topbanner">
                            <div class="navwrapper">
                                <div class="banner-logo">
                                    <img src="/static/common/logo-bulletin-brief.svg" alt="logo">
                                </div>
                                <div class="banner-title">
                                    <p> 公示栏 </p>
                                </div>
                            </div>
                        </div>
                        <div class="bullcontent">
                            <div>
                                <div class="panel-pane pane-views pane-the-bulletin-pages clearfix">
                                    <div class="pane-content">
                                        <div class="view view-the-bulletin-pages view-id-the_bulletin_pages view-display-id-block_2 bulletin-news view-dom-id-9f952848cdcacf250df7509097844ff3">
                                            <div class="view-content">
                                                <div class="col-md-4">
                                                    <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_1" ) }}>
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/bulletin/cover.jpg " width="600 " height="400 ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                        style="font-weight:normal "><span style="white-space:normal ">工程名称：长春至双阳公路 建设单位：长春市长双公路建设管理中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                                <div class="col-md-4">
                                                    <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_2" ) }}>
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/bulletin/cover.jpg " width="600 " height="400 ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                        style="font-weight:normal "><span style="white-space:normal ">工程名称：三合至莫力达瓦旗公路新化至维新段工程 建设单位：龙井市公路建设服务中心 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                                <div class="col-md-4">
                                                    <a class="ariavalue " href={{ url_for( 'bulletin', bulletin_id="20211028_3" ) }}>
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/bulletin/cover.jpg " width="600 " height="400 ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                            style="font-weight:normal "><span style="white-space:normal ">工程名称：省道齐齐哈尔至大安公路莫莫格至月亮泡段工程 建设单位：镇赉县公路建设办公室 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p style="text-align: right; padding-right: 15px;">
                                    <a class="btn btn-primary" href={{ url_for( 'bulletin') }} ">More</a>
                                </p>
                            </div>
                        </div>
                        <div class="topbanner " style="margin-top: 0px !important ">
                            <div class="navwrapper">
                                <div class="banner-logo">
                                    <img src="/static/common/logo-bulletin-brief.svg" alt="logo">
                                </div>
                                <div class="banner-title">
                                    <p> 项目概况 </p>
                                </div>
                            </div>
                        </div>
                        <div class="bullcontent ">
                            <div>
                                <div class="panel-pane pane-views pane-the-bulletin-pages clearfix ">
                                    <div class="pane-content ">
                                        <div class="view view-the-bulletin-pages view-id-the_bulletin_pages view-display-id-block_2 bulletin-news view-dom-id-9f952848cdcacf250df7509097844ff3 ">
                                            <div class="view-content ">
                                                <div class="col-md-4 ">
                                                    <a class="ariavalue " href="/bulletin">
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/project/cover1.jpg " width="600 " height="400 " alt="University of Toronto sign on St. George campus ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                        style="font-weight:normal "><span style="white-space:normal ">工程名称：G331国道丹东至阿勒泰公路三道沟至错草段建设项目 建设单位：白山市高等公路建设管理中心临江市公路建设管理处 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                                <div class="col-md-4 ">
                                                    <a class="ariavalue " href="/bulletin">
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/project/cover2.jpg " width="600 " height="400 "
                                                                    alt="University of Toronto sign on St. George campus ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                                                            style="font-weight:normal "><span style="white-space:normal ">工程名称：G331国道丹东至阿勒泰公路三道沟至错草段建设项目
                                                                                建设单位：白山市高等公路建设管理中心临江市公路建设管理处 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                                <div class="col-md-4 ">
                                                    <a class="ariavalue " href="/bulletin">
                                                        <div>
                                                            <div class="picture ">
                                                                <img typeof="foaf:Image " src="/static/project/cover3.jpg " width="600 " height="400 "
                                                                    alt="University of Toronto sign on St. George campus ">
                                                            </div>
                                                            <div class="subhead " style="height: 113px; ">
                                                                <p class="MsoNoSpacing " style="text-align:start "><span style="font-style:normal "><span
                                                                            style="font-weight:normal "><span style="white-space:normal ">工程名称：G331国道丹东至阿勒泰公路三道沟至错草段建设项目
                                                                                建设单位：白山市高等公路建设管理中心临江市公路建设管理处 监测时段：2021年07月1日—2021年09月30日</span></span>
                                                                    </span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p style="text-align: right; padding-right: 15px;">
                                <a class="btn btn-primary " href={{ url_for( 'bulletin') }} ">More</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}